@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');


* {
    font-family: 'Pixelify Sans', cursive;
    background-color: #945069;
    margin: 0;
}

#game {
    width: 90%;
    max-width: 1100px;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
}

h1 {
    margin-bottom: 50px;
    margin-top: 35px;
    text-align: center;
    color: #F2D4DC;
}

.titlemenu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 350px;
}

.title {
    display: inline-block;
}

#attempts {
    display: inline-block;
    align-items: center;
}

.card {
    transition: .5s;
    width: calc(100% / 6 - 20px);
    border-radius: 20px;
    margin: 10px;
}

.card:hover {
    transform: scale(0.95) !important;
}

.btn {
    display: flex;
    justify-content: center;
}

#restartgame {
    margin: 0 50px;
    text-decoration: none;
    color: #F2D4DC;
    margin-top: 20px;
    text-decoration: none;
    font-size: 20px;
    padding: 16px 32px;
}

#restartgame:hover {
    background-color: #C76C8E;
    border-radius: 10px;
}

#startgame {
    margin: 0 50px;
    color: #F2D4DC;
    margin-top: 20px;
    text-decoration: none;
    font-size: 20px;
    padding: 16px 32px;
}

#startgame:hover {
    background-color: #C76C8E;
    border-radius: 10px;
}

.correct {
    pointer-events: none !important;
}